<div class="info-video">
  Further information on the development of reusable rockets with a special
  focus on SpaceX's new tests on their Starship-rocket can be found in the
  following video:
  <iframe
    width="1280"
    height="720"
    src="https://www.youtube.com/embed/SJZs9svGKGw"
    title="Rocket reusability"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
